.rsCreate
  .rsCreate__head
    %p タクシー予約
  .rsCreate__main
    %p 予約が完了しました
    .rsCreate__main__rs
      = link_to "予約へ戻る", new_reservation_path
    .rsCreate__main__btn
      = link_to "トップページ", root_path