.rsMain
  .rsMain__topWrapper
    .rsMain__topWrapper__left
    .rsMain__topWrapper__right

  .rsMain__secondWrapper
    .rsMain__secondWrapper__left
    .rsMain__secondWrapper__right

  .rsMain__thirdWrapper
    .rsMain__thirdWrapper__left
    .rsMain__thirdWrapper__right

  .rsMain__fourthWrapper
    .rsMain__fourthWrapper_left
    .rsMain__fourthWrapper__right

= render 'layouts/footer'

