@import 'modules/reset';
@import 'modules/mixin';
@import 'modules/footer';
@import 'reservations/index';
@import 'reservations/new';
@import 'reservations/create';
@import 'users/signUp';
@import 'users/signIn';
@import 'users/index';
@import 'users/edit';

* {
  box-sizing: border-box;
  font-feature-settings: "palt";
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  outline: none;
}
